<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
        <%= render 'shared/joinedgroups', object: @user %>
      </section>
    </aside>
    <div class="span6">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>

    <div class="span2">
      <%= render 'shared/facebook' %>
    </div>

  </div>
<% else %>
  <div class="center hero-unit">
    <h1>sFANS PRESS  </h1>

    <h2>
      sFANS( SFA x SNS ) community for colleagues.
    </h2>

    <img alt="sFANS" src="/assets/illust2942_thumb.gif">

    <h2>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
    </h2>
      <%= link_to "Sign up with Facebook", "/auth/facebook" %>  
      <% link_to "Sign up with Twitter", "/auth/twitter" %>  
  </div>

<% end %>

