<li>
<table>
<tr>
<td>
  <% if group.joined?(current_user) %>
    <%= render 'unjoin', object: group %>
  <% else %>
    <%= render 'join', object: group %>
  <% end %>
</td>
<td>
<div>
  <a href="<%= select_group_path(group) %>">
<p class="lead"> 
  <%= group.group_name %>
  <%= group.group_detail %>
</p>
  </a>
</div>
</td>
</tr>
</table>
</li>
