<% joins = object.groupjoins %>
<h2>Join groups(<%= joins.count %>)</h2>
<table class="table">
  <% if joins.any? %>
    <% joins.each do |join| %>
      <% group = Group.find_by(id: join.group_id)  %>
        <tr><td>
<div class="stat">
  <a href="<%= select_group_path(group)  %>">
    <strong class="stat">
         <%= group.group_name %>
    </strong><br>
         <%= group.group_detail %>
        <span class="timestamp"><%= group.groupjoins.count %> joined.</span>
  </a>
</div>
        </td></tr>
    <% end %>
  <% else %>
    <h2>Nothing.</h2>
  <% end %>
</table>
